<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CBHProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WebApplication3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ProjectServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="540">
    </sessionState>
    <customErrors mode="Off">
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="FRED.aspx" slidingExpiration="true" name="ASUASSINGSVC.ASPNETAUTH" protection="None" enableCrossAppRedirects="false" path="/" timeout="540">
        <credentials passwordFormat="Clear">
          <user name="andy" password="andy" />
          <user name="andres" password="andres" />
          <user name="uriel" password="uriel" />
          <user name="matt" password="matt" />
          <user name="uzarco" password="Hello1" />
          <user name="Hello" password="world" />
          <user name="hi" password="hello" />
          <user name="test" password="test1" />
          <user name="bear" password="black" />
          <user name="hugbear" password="cheese" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.0" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="TelesignAPISoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CaptchaServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CaptchaServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="CaptchaServiceSoap2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CaptchaServiceSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
        <binding name="CaptchaServiceSoap121">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
        <binding name="CaptchaServiceSoap122">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.strikeiron.com/TeleSign/televerification/TelesignAPI" binding="basicHttpBinding" bindingConfiguration="TelesignAPISoap" contract="PhoneEval.TelesignAPISoap" name="TelesignAPISoap" />
      <endpoint address="http://www.textdisguise.com/TextDisguise/CaptchaService/CaptchaService.asmx" binding="basicHttpBinding" bindingConfiguration="CaptchaServiceSoap" contract="Captcha.CaptchaServiceSoap" name="CaptchaServiceSoap" />
      <endpoint address="http://www.textdisguise.com/TextDisguise/CaptchaService/CaptchaService.asmx" binding="customBinding" bindingConfiguration="CaptchaServiceSoap12" contract="Captcha.CaptchaServiceSoap" name="CaptchaServiceSoap12" />
      <endpoint address="http://www.textdisguise.com/TextDisguise/CaptchaService/CaptchaService.asmx" binding="basicHttpBinding" bindingConfiguration="CaptchaServiceSoap1" contract="Captcha.CaptchaServiceSoap" name="CaptchaServiceSoap1" />
      <endpoint address="http://www.textdisguise.com/TextDisguise/CaptchaService/CaptchaService.asmx" binding="customBinding" bindingConfiguration="CaptchaServiceSoap121" contract="Captcha.CaptchaServiceSoap" name="CaptchaServiceSoap121" />
      <endpoint address="http://www.textdisguise.com/TextDisguise/CaptchaService/CaptchaService.asmx" binding="basicHttpBinding" bindingConfiguration="CaptchaServiceSoap2" contract="Captcha.CaptchaServiceSoap" name="CaptchaServiceSoap2" />
      <endpoint address="http://www.textdisguise.com/TextDisguise/CaptchaService/CaptchaService.asmx" binding="customBinding" bindingConfiguration="CaptchaServiceSoap122" contract="Captcha.CaptchaServiceSoap" name="CaptchaServiceSoap122" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <CBHProject.Properties.Settings>
      <setting name="CBHProject_com_textdisguise_www_CaptchaService" serializeAs="String">
        <value>http://www.textdisguise.com/TextDisguise/CaptchaService/CaptchaService.asmx</value>
      </setting>
    </CBHProject.Properties.Settings>
    <WebApplication3.Properties.Settings>
      <setting name="WebApplication3_com_textdisguise_www_CaptchaService" serializeAs="String">
        <value>http://www.textdisguise.com/TextDisguise/CaptchaService/CaptchaService.asmx</value>
      </setting>
    </WebApplication3.Properties.Settings>
    <ProjectServices.Properties.Settings>
      <setting name="ProjectServices_com_textdisguise_www_CaptchaService" serializeAs="String">
        <value>http://www.textdisguise.com/TextDisguise/CaptchaService/CaptchaService.asmx</value>
      </setting>
    </ProjectServices.Properties.Settings>
  </applicationSettings>
</configuration>